.movie-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 15rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: .5rem;
}

p {
    margin: .5rem;
    padding: 1rem, 1rem, 1rem, 0;
}